* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    min-width: 420px;
    width: 95%;
    margin: 0 auto;
}

:root {
    --brown1: #52483E;
    --gray1: #8B8782;
    --darkGray: #3B3B3B;
    --white1: #FFFFFF;
    --white2: #F5F5F5;
    --poppinsRegular: PoppinsRegular;
    --poppinsMedium: PoppinsMedium;
    --poppinsSemiBold: PoppinsSemiBold;
}


@font-face {
    font-family: PoppinsMedium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsRegular;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background: linear-gradient(#D2CDC6, #F5F5F5);
}

.header {
    width: 100%;
    min-width: 420px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 99;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2px;
    color: var(--brown1);
    font-size: 20px;
    line-height: 20px;
    font-family: var(--poppinsSemiBold);
}

.nav_list {
    display: flex;
    gap: 16px;
}

.nav_link {
    padding: 10px 24px;
    background: linear-gradient(#000000, #666666);
    background-clip: text;
    color: transparent;
    font-family: var(--poppinsRegular);
}

.nav_link:hover {
    background: linear-gradient(var(--brown1), var(--gray1));
    color: var(--white1);
    border-radius: 24px;
}


#menu {
    display: none;
}

.burger_menu {
    width: 32px;
    height: 32px;
    padding: 8px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    display: none;
}

.burger_line {
    width: 100%;
    height: 2px;
    background: #000000;
    border-radius: 10px;
}

#menu:checked~.nav {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}




.footer {
    width: 100%;
    min-width: 420px;
    min-height: 419px;
    background: linear-gradient(#F5F5F5, #D2CDC6);
    padding-top: 80px;
    text-align: center;
}

.footer_tittle {
    color: var(--brown1);
    font-size: 42px;
    font-family: var(--poppinsSemiBold);
    margin-bottom: 16px;
}

.footer_text {
    font-size: 20px;
    font-family: var(--poppinsRegular);
    color: var(--gray1);
    max-width: 650px;
    margin: 0 auto;
}

.footer_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.footer_btn1,
.footer_btn2 {
    padding: 10px 32px;
    background: var(--white1);
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-family: var(--poppinsRegular);
    color: #000000;
    transition: .5s;
    margin-top: 32px;
}

.footer_btn1:hover {
    background: #000000;
    color: var(--white1);
    scale: 1.1;
}

.footer_btn2:hover {
    background: #000000;
    color: var(--white1);
    scale: 1.1;
}

.footer_bottom {
    min-height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}


.footer_bottom_right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer_bottom_text {
    font-family: var(--poppinsRegular);
    font-size: 16px;
    line-height: 50px;
    color: var(--brown1);
}

.footer_line {
    height: 3px;
    color: #8B8782;
    margin-top: 42px;
}

html {
    scroll-behavior: smooth;
}



@media(max-width:650px) {
    .nav {
        position: absolute;
        background: var(--gray1);
        top: 92px;
        left: 0;
        width: 100%;
        min-width: 420px;
        padding: 30px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .5s;
    }

    .nav_list {
        flex-direction: column;
        align-items: center;
    }

    .burger_menu {
        display: flex;
    }

        .footer_bottom {
        justify-content: center;
    }
}

@media(max_width:620px){
    .footer_bottom{
        padding-top: 15px;
    }
}


@media(max-width:500px) {
    .footer_bottom_right {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer_bottom_text{
        width: 100%;
    }
}