.section1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 936px;
}

.section1_title {
    position: absolute;
    font-size: clamp(60px, 15vw, 180px);
    font-family: var(--poppinsSemiBold);
    color: var(--brown1);
    line-height: clamp(42, 17vw, 172px);
    z-index: 3;
    top: 180px;
}

.section1_title2 {
    position: absolute;
    font-size: clamp(60px, 15vw, 180px);
    font-family: var(--poppinsSemiBold);
    color: transparent;
    line-height: clamp(42, 17vw, 172px);
    background: linear-gradient(#DACCBC, #AFA497);
    background-clip: text;
}

.section1_image {
    position: absolute;
    top: -87px;
    width: 85%;
}

.section2 {
    padding-block: 80px;
}

.section2_tittle {
    font-family: var(--poppinsSemiBold);
    font-size: 56px;
    color: var(--brown1);
    margin-bottom: 16px;
    text-align: center;
}

.section2_text {
    font-family: var(--poppinsRegular);
    font-size: 24px;
    color: var(--gray1);
    margin-bottom: 80px;
    text-align: center;
}

.section2_slider_wrapper {
    height: 480px;
    overflow: hidden;
    margin-top: 30px;
}

.section2_slider {
    width: 254%;
    height: 100%;
    display: flex;
    gap: 16px;
    transition: 1s;
}

.section2_slider_item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding-left: 80px;
    border-radius: 24px;
}

.section2_slider_item:nth-child(1) {
    background: linear-gradient(#D2CDC6, #F8BF93);
}

.section2_slider_item:nth-child(2) {
    background: linear-gradient(#D2CDC6, #F2EBE3);
}

.section2_slider_item:nth-child(3) {
    background: linear-gradient(#D8B74B, #F2EBE3);
}


.slider1Input {
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid var(--brown1);
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.slider1Input:after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--brown1);
    position: absolute;
    display: none;
}

.slider1Input:checked::after {
    display: block;
}

.slider1Input:nth-of-type(1):checked~.section2_slider_wrapper .section2_slider {
    transform: translateX(0);
}


.slider1Input:nth-of-type(2):checked~.section2_slider_wrapper .section2_slider {
    transform: translateX(calc(-100% / 3));
}


.slider1Input:nth-of-type(3):checked~.section2_slider_wrapper .section2_slider {
    transform: translateX(calc(-200% / 3));
}

.section2_slider_text {
    font-family: var(--poppinsMedium);
    font-size: 32px;
    line-height: 42px;
    color: var(--darkGray);
    width: 40%;
}

.slider_image {
    width: 100%;
    height: 100%;
}

.slider1_images_box {
    width: 60%;
    height: 100%;
}

.section3 {
    padding-block: 80px;
}

.section3_tittle {
    text-align: center;
    font-size: 56px;
    font-family: var(--poppinsRegular);
    color: var(--brown1);
    margin-bottom: 16px;
}

.section3_text {
    text-align: center;
    font-size: 24px;
    color: var(--gray1);
    font-family: var(--poppinsRegular);
    margin-bottom: 80px;
}

.section3_slider_wrapper {
    overflow: hidden;
    margin-top: 30px;
}

.section3_slider {
    width: 200%;
    display: flex;
    gap: 41px;
    transition: 1s;
}

.section3_slider_image{
    width: 100%;
    height: 100%;
}

.section3_slider_item {
    width: 386px;
    height: 386px;
}

.section3_slider_input {
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid var(--brown1);
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.section3_slider_input:after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--brown1);
    position: absolute;
    display: none;
}

.section3_slider_input:checked::after {
    display: block;
}


.section3_slider_input:nth-of-type(1):checked ~ .section3_slider_wrapper .section3_slider {
    transform: translateX(0);
}

.section3_slider_input:nth-of-type(2):checked ~ .section3_slider_wrapper .section3_slider {
    transform: translateX(calc(-100% / 6));
}

.section3_slider_input:nth-of-type(3):checked ~ .section3_slider_wrapper .section3_slider {
    transform: translateX(calc(-200% / 6));
}

.section3_slider_input:nth-of-type(4):checked ~ .section3_slider_wrapper .section3_slider {
    transform: translateX(calc(-300% / 6));
}

.section3_slider_input:nth-of-type(5):checked ~ .section3_slider_wrapper .section3_slider {
    transform: translateX(calc(-400% / 6));
}

.section3_slider_input:nth-of-type(6):checked ~ .section3_slider_wrapper .section3_slider {
    transform: translateX(calc(-500% / 6));
}

.section3_slider_input:nth-of-type(5){
    display: none;
}

.section3_slider_input:nth-of-type(6){
    display: none;
}

.section4{
    width: 100%;
    min-width: 420px;
    max-width: 2500px;
    margin: 0 auto;
    height: 894px;
    background-image: url(../images/s4_image.png);
    background-size: cover;
    background-position: bottom;
    text-align: center;
    padding-top: 80px;
}

.section4_tittle{
    font-family: var(--poppinsSemiBold);
    color: var(--white1);
    font-size: 86px;
    line-height: 120px;
}

.section4_text{
    font-family: var(--poppinsRegular);
    color: var(--white1);
    font-size: 24px;
    margin-top: 24px;
}

.section4_btn{
    font-family: var(--poppinsRegular);
    background-color: var( --white2);
    border-radius: 24px;
    color: #000000;
    padding: 10px 32px 10px 32px;
    margin-top: 24px;
    border: none;
    transition: .5s;
}

.section4_btn:hover{
    background-color: #000000;
    color: var(--white1);
    scale: 1.1;
}