.section1 {
    height: 720px;
    padding-top: 80px;
    padding-left: 120px;
}

.section1_tittle {
    font-family: var(--poppinsSemiBold);
    font-size: 32px;
    color: var(--brown1);
}

.section1_slider_wrapper {
    overflow: hidden;
    margin-top: 80px;
}

.section1_slider {
    width: 200%;
    display: flex;
    gap: 80px;
    transition: 1s;
}

.section1_slider_item {
    width: 320px;
    height: 420px;
}

.section1_img {
    width: 100%;
    height: 100%;
}

.section1_slider_input {
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid var(--brown1);
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.section1_slider_input:after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--brown1);
    position: absolute;
    display: none;
}


.section1_slider_input:checked::after {
    display: block;
}

.section1_slider_input:nth-of-type(1):checked~.section1_slider_wrapper .section1_slider {
    transform: translateX(0);
}

.section1_slider_input:nth-of-type(2):checked~.section1_slider_wrapper .section1_slider {
    transform: translateX(calc(-100% / 6));
}

.section1_slider_input:nth-of-type(3):checked~.section1_slider_wrapper .section1_slider {
    transform: translateX(calc(-200% / 6));
}

.section1_slider_input:nth-of-type(4):checked~.section1_slider_wrapper .section1_slider {
    transform: translateX(calc(-300% / 6));
}

.section1_slider_input:nth-of-type(5):checked~.section1_slider_wrapper .section1_slider {
    transform: translateX(calc(-400% / 6));
}

.section1_slider_input:nth-of-type(6):checked~.section1_slider_wrapper .section1_slider {
    transform: translateX(calc(-500% / 6));
}


.section1_slider_input:nth-of-type(5),
.section1_slider_input:nth-of-type(6){
    display: none;
}


.section2 {
    background-color: #D8D8D8;
    box-shadow: 0 0 30px gray;
    min-width: 420px;
}

.section2_info1 {
    height: auto;
    border-bottom: 2px solid gray;
    display: flex;
    padding-left: 120px;
    padding: 80px 20px;
    gap: 42px;
}

.section2_info1 span{
    font-weight: 700;
}

.section2_info_tittle {
    font-family: var(--poppinsSemiBold);
    font-size: 32px;
    color: var(--brown1);
    width: 280px;
}

.section2_info_text {
    font-family: var(--poppinsRegular);
    font-size: 18px;
    line-height: 50px;
    color: var(--gray1);
    max-width: 698px;
}

.section2_info1:last-child{
    background: linear-gradient(#D2CDC6, #F2EBE3);
    border-bottom:none ;
}

.section2_info1:nth-child(8){
    border-bottom:none ;
}


